* {
  box-sizing: border-box;
}

body {
  position: relative;
}

#header {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

#header-figure {
  display: flex;
  justify-content: left;
  align-items: center;
}

#header-img {
  width: 80px;
  height: auto;
}

#header-img-caption {
  margin-left: 15px;
  font-size: 35px;
}

.nav-link,
.nav-link:link,
.nav-link:visited {
  width: 160px;
  height: 60px;
  border: 2px solid rgba(0, 250, 00, 0.3);
  padding: 15px 0px 0px 50px;
  font-size: 20px;
  display: inline-block;
  text-decoration: none;
  color: black;
  font-weight: 500;
}

h1 {
  text-align: center;
}

#features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.feature {
  height: 120px;
  margin-bottom: 50px;
  padding-left: 15px;
  width: 50%;
  font-size: 20px;
  display: grid;
  grid-template-areas:
    ". ."
    "img-feat ."
    "img-feat description"
    "img-feat ."
    ". .";
  grid-template-columns: 40% 80%;
  border: 1px solid rgba(0, 250, 0, 0.4);
  border-radius: 10px;
}

.feature img {
  grid-area: img-feat;
  max-height: 100%;
  width: auto;
}

.feature label {
  grid-area: description;
}

#sample {
  text-align: center;
}

#pricing {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.price-plan {
  height: 300px;
  width: 300px;
  margin: 0 20px 10px 20px;
  border: 1px solid black;
  display: grid;
  grid-template-rows: 15% 70% 15%;
}

.price-header {
  font-size: 18px;
  font-weight: bold;
  padding-top: 10px;
}

.price-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(25, 25, 25, 0.1);
  text-align: center;
}

.price-content label {
  margin-top: 25px;
}

.price-header,
.get-plan-div {
  background-color: rgba(0, 255, 20, 0.3);
  text-align: center;
}

.price-button {
  font-size: 16px;
  font-weight: bold;
  color: white;
  width: 150px;
  height: 100%;
  background-color: rgba(255, 00, 0, 0.8);
  cursor: pointer;
}

#form {
  width: 60%;
  margin-left: 20%;
  border: 2px solid darkgreen;
  padding: 15px 0 15px 0;
}

#form h2 {
  text-align: center;
}

#form input[type="email"] {
  margin-left: 10%;
  padding-left: 5px;
}

@media (max-width: 900px) {
  #header-img {
    width: 50px;
    height: auto;
  }

  #header-img-caption {
    margin-left: 15px;
    font-size: 30px;
  }

  .nav-link,
  .nav-link:link,
  .nav-link:visited {
    width: 60px;
    height: 30px;
    border: 2px solid rgba(0, 250, 00, 0.3);
    padding: 5px 0px 0px 5px;
    font-size: 14px;
    display: inline-block;
    text-decoration: none;
    color: black;
    font-weight: 500;
  }
}
